<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Cloudamaze | Get amazed!</title>
        <link rel="stylesheet" href="css/style.css" type="text/css"/>
    </head>
    <body>
        <a href="http://domain.cloudamaze.com">
            <img src="images/domain.png" id="domain" />
        </a>
        <img src="images/logo.png" id="logo" />
        <img src="images/contact.png" id="contact" />
        <img src="images/offer.png" id="offer" />
        <img src="images/bg.png" id="bg" />
    </body>
</html>
