/* 
    Document   : style
    Created on : 23 Jan, 2013, 1:34:54 AM
    Author     : anish
    Description:
        Cloudamaze style
*/

#bg{
    position: absolute;
    left:0%;
    bottom: 0%;
}

#contact{
    position: absolute;
    left: 10%;
    top: 5%;
}

#offer{
    position: absolute;
    top:30%;
    left:35%;
    width: 35%;

}

#logo{
    position: absolute;
    top: 80%;
    right: 0%;
}

#domain{
    position: absolute;
    top: 65%;
    right: 0%;
}